<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Smoke suite" verbose="1">
    <test name="PlaceLab Login test">
        <classes>
            <class name="com.PlaceLab.Amila.qamp.tests.SmokeTest"/>
            <class name="com.PlaceLab.Amila.qamp.tests.LoginFunctionalitySuccessfulLogin"/>
            <class name="com.PlaceLab.Amila.qamp.tests.LoginFunctionalityInvalidCredentials"/>
            <class name="com.PlaceLab.Amila.qamp.tests.LoginFunctionalityEmptyFields"/>
            <class name="com.PlaceLab.Amila.qamp.tests.LoginFunctionalityConcurrentLogin"/>
            <class name="com.PlaceLab.Amila.qamp.tests.LoginFunctionalityForgotPassword"/>
            <class name="com.PlaceLab.Amila.qamp.tests.SinglePlaceSearch_SuccessfulCreateReport"/>
            <class name="com.PlaceLab.Amila.qamp.tests.LoginFunctionality"/>
        </classes>
    </test>
</suite>